.main-container
  display: flex
  flex-direction: row

.side-bar
  margin: 0
  padding: 0
  width: 200px
  height: 100vh
  background-color: #051E3E
  .side-bar-header
    margin: 0
    padding: 15px 10px 15px 10px
    width: 100%
    height: 50px
    background-color: #FDC500
    .brand
      display: inline-block
      font-size: 1.5em
      font-weight: bold
      color: #ffffff
    .icon
      color: #FFFFFF
      float: right
      &:hover
        cursor: pointer

.content-container
  margin: 0
  padding: 0
  width: calc(100% - 200px)
  height: 100vh
  background-color: #F0F1F3

.nav-bar
  width: 100%
  height: 50px
  background-color: #FFFFFF
