<div class="main-container">
  <div class="side-bar">
    <div class="side-bar-header">
      <span class="brand">CSJC</span><i class="bars icon"></i>
    </div>
    <div class="ui list cust-list">
      <div class="item">
        <i class="th icon"></i>
        <div class="content">
          Dashboard
        </div>
      </div>
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          Students
        </div>
      </div>
      <div class="item">
        <i class="user icon"></i>
        <div class="content">
          Teachers
        </div>
      </div>
      <div class="item">
        <i class="street view icon"></i>
        <div class="content">
          Parents
        </div>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="ui menu nav-bar">
      <div class="nav-part-1">
        <span class="welcome">
          <img id="grad-cap" src="../assets/images/grad_cap.svg" alt="Graduation Cap">
          Welcome to CSJC
        </span>
        <span class="app-type">School Management System</span>
      </div>
      <div class="nav-part-2">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search here...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        <div class="ui simple dropdown item language">
          Lang <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
              </div>
            </div>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <div class="notifications">
          <button class="ui circular icon button">
            <i class="mail icon"></i>
          </button>
          <button class="ui circular icon button">
            <i class="bell icon"></i>
          </button>
        </div> <!-- Notifications End -->
        <div class="ui simple dropdown item profile">
          <div class="nav-profile-holder">
            <div class="nav-profile-picture">
              <img src="../assets/images/boy-9.png" alt="profile picture">
            </div>
            <span class="nav-profile-name">
              Arnaud
            </span>
          </div> <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
              </div>
            </div>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
