<div class="main-container">
  <div class="side-bar">
    <div class="side-bar-header">
      <span class="brand">CSJC</span><i class="bars icon"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="ui menu nav-bar">
      <span class="welcome">
        <img id="grad-cap" src="../assets/images/grad_cap.svg" alt="Graduation Cap">
        Welcome to CSJC
      </span>
      <span class="app-type">School Management System</span>
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search here...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui simple dropdown item">
        Language <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
