<div class="main-container">
  <div class="side-bar">
    <div class="side-bar-header">
      <span class="brand">CSJC</span><i class="bars icon"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="nav-bar">
      <span class="welcome">
        <img id="grad-cap" src="../assets/images/grad_cap.svg" alt="Graduation Cap">
        Welcome to CSJC
      </span>
      <span class="app-type">School Management System</span>
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search here...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
